@model SportEventsApp.ViewModel.EtisalateViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Etisalat.Id > 0)
{
    <h2>Edit Number</h2>
}
else
{
    <h2>New Number</h2>
}
@using (Html.BeginForm("Save", "EtisalatCashes", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Invalid Registration")

    <div class="form-group">
        @Html.LabelFor(m => m.Etisalat.Number)
        @Html.TextBoxFor(m => m.Etisalat.Number, new { @class = "form-control", @pattern = "011[0-9]{8}", @title = "Not a Etisalat Number" })
        @Html.ValidationMessageFor(m => m.Etisalat.Number)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Etisalat.Count)
        @Html.TextBoxFor(m => m.Etisalat.Count, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Etisalat.Count)
    </div>
    <div class="form-group">
        <label for="Etisalat_Event_ID">Event Name</label>
        @Html.DropDownListFor(m => m.Etisalat.Event_ID, new SelectList(Model.Events, "Id", "Name"), "Select Event", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Etisalat.Event_ID)
    </div>

    @Html.HiddenFor(m => m.Etisalat.Id)
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-6">
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default col-md-6" })
        </div>
        <div class="form-group col-md-6">
            <input type="submit" value="Save" class="btn btn-success col-md-6" />
        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}